.banner-main {
  background: url('../images/banners/banner-01.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;

  .banner-main-container {
    position: relative;
    height: 716px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up('md') {
      height: 572px;
      justify-content: center;
      align-items: flex-end;
    }
  }

  h1 {
    font-size: 49px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    font-size: 27px;
    font-weight: 300;
  }

  // .button.button-large
  .button {
    &.button-large {
      margin: 45px 0;
    }
  }

  .banner-copy {
    width: 210px;
    font-weight: 300;
    margin-bottom: 73px;

    @include media-breakpoint-up('md') {
      position: absolute;
      right: 20px;
      bottom: 20px;
      margin: 0;
      width: auto;
      text-align: right;
    }

    & > span {
      & > span {
        display: block;
        font-size: 24px;

        @include media-breakpoint-up('md') {
          display: inline;
          font-size: 16px;
        }
      }
    }
  }
}
